In [1]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
dataset = pd.read_csv('abalone.csv')

#describe the dataset

dataset.describe()

,Length,Diameter,Height,Whole_Weight,Shucked_Weight,Viscera_Weight,Shell_Weight,Rings
count,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000,4177.000000
mean,0.523992,0.407881,0.139516,0.828742,0.359367,0.180594,0.238831,9.933684
std,0.120093,0.099240,0.041827,0.490389,0.221963,0.109614,0.139203,3.224169
min,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.350000,0.115000,0.441500,0.186000,0.093500,0.130000,8.000000
50%,0.545000,0.425000,0.140000,0.799500,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.480000,0.165000,1.153000,0.502000,0.253000,0.329000,11.000000
max,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [3]:
#min height is 0... there should be an issue. let's find the errors
dataset[dataset['Height']==0]


#remove rows with height = 0
dataset = dataset[dataset['Height']>0]

dataset.describe()

,Length,Diameter,Height,Whole_Weight,Shucked_Weight,Viscera_Weight,Shell_Weight,Rings
count,4175.000000,4175.00000,4175.000000,4175.000000,4175.000000,4175.000000,4175.000000,4175.000000
mean,0.524065,0.40794,0.139583,0.829005,0.359476,0.180653,0.238834,9.935090
std,0.120069,0.09922,0.041725,0.490349,0.221954,0.109605,0.139212,3.224227
min,0.075000,0.05500,0.010000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,0.450000,0.35000,0.115000,0.442250,0.186250,0.093500,0.130000,8.000000
50%,0.545000,0.42500,0.140000,0.800000,0.336000,0.171000,0.234000,9.000000
75%,0.615000,0.48000,0.165000,1.153500,0.502000,0.253000,0.328750,11.000000
max,0.815000,0.65000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [4]:

#Transform sex into a dummy variable
dataset['Male'] = (dataset['Sex']=='M').astype(int)
dataset['Female'] = (dataset['Sex']=='F').astype(int)
dataset['Infant'] = (dataset['Sex']=='I').astype(int)

dataset.head()

,Sex,Length,Diameter,Height,Whole_Weight,Shucked_Weight,Viscera_Weight,Shell_Weight,Rings,Male,Female,Infant
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15,1,0,0
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7,1,0,0
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9,0,1,0
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10,1,0,0
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7,0,0,1

In [ ]:
y = dataset['Rings'] + 1.5 #AGE is rings + 1.5

"""
in real life we do not know the number of rings utill we cut the abalone... 
the purpose of this ML is to predict the age without cutting the abalone and count the rings
"""

dataset = dataset.drop('Rings', axis=1)
dataset = dataset.drop('Sex', axis=1)

In [ ]:
dataset.head()

,Length,Diameter,Height,Whole_Weight,Shucked_Weight,Viscera_Weight,Shell_Weight,Male,Female,Infant
0,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,1,0,0
1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,1,0,0
2,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,0,1,0
3,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,1,0,0
4,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,0,0,1

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(dataset, y, test_size=0.33, random_state=42)

In [ ]:
X_train.head()

,Length,Diameter,Height,Whole_Weight,Shucked_Weight,Viscera_Weight,Shell_Weight,Male,Female,Infant
1430,0.230,0.165,0.060,0.0515,0.0190,0.0145,0.0360,0,0,1
2496,0.520,0.400,0.130,0.6245,0.2150,0.2065,0.1700,0,1,0
472,0.430,0.340,0.120,0.3575,0.1510,0.0645,0.1045,0,0,1
2231,0.505,0.400,0.165,0.7290,0.2675,0.1550,0.2500,0,1,0
3352,0.520,0.405,0.145,0.8290,0.3535,0.1685,0.2050,0,1,0

In [ ]:
y_train.head()

1430     5.5
2496    16.5
472     10.5
2231    10.5
3352    16.5
Name: Rings, dtype: float64

In [ ]:
model = keras.Sequential([
    layers.Dense(128, activation=tf.nn.relu, input_shape=[len(X_train.keys())]),
    layers.Dense(64, activation=tf.nn.relu),
    layers.Dense(1)
  ])

optimizer = tf.train.AdamOptimizer()
#optimizer = tf.train.RMSPropOptimizer(0.001)
model.compile(optimizer=optimizer,
             loss="mse",metrics=['mae', 'mse'])

In [ ]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 128)               1408
_________________________________________________________________
dense_1 (Dense)              (None, 64)                8256
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 9,729
Trainable params: 9,729
Non-trainable params: 0
_________________________________________________________________

In [ ]:
history = model.fit(X_train, y_train, epochs=1000, validation_split = 0.2, verbose=0)

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

loss = history.history['mean_absolute_error']
val_loss = history.history['val_mean_absolute_error']

epochs = range(1, len(loss) + 1)
plt.gca().set_ylim(0,5)
# "bo" is for "blue dot"
plt.plot(epochs, loss, 'bo', label='Training mae')
# r is for "solid red line"
plt.plot(epochs, val_loss, 'r', label='Validation mae')
plt.title('Training and validation loss')
plt.xlabel('Epochs')
plt.ylabel('Loss')
plt.legend()

plt.show()

In [ ]:
loss, mae, mse = model.evaluate(X_test, y_test, verbose=1)

print()
print('LOSS:', loss)
print ('MEAN ABSOLUTE ERROR (MAE): ', mae)
print ('MEAN SQUARED ERROR (MSE): ', mse)

In [ ]:
test_predictions = model.predict(X_test).flatten()

In [ ]:
error = test_predictions - y_test

In [ ]:
plt.hist(error, bins = 100)
plt.xlabel("Prediction Error [AGE]")
_ = plt.ylabel("Count")